<div class="intro">
    <div class="introbanner">
        <div class="introtitle">
            <h1 class="title"></h1>
        </div>
    </div>
    <div class="introcontent">
        <!-- <div class="lang-select-placeholder"></div> -->
        <img class="logo" src="" width="150" alt="" />
        <div class="body"></div>
        <button type="button" class="begin button-general primary">
            {{translate "Start course"}}
            <svg xmlns="http://www.w3.org/2000/svg" focusable="false" aria-hidden="true" width="24px" height="24px"
                viewBox="0 0 24 24">
                <use xlink:href="#icon_arrow_right" />
            </svg>
        </button>
    </div>
</div>